    <div class="change-password-form">
    <div>
        <label>Current Password</label>
        <div class="input-container">
        <input
            [type]="showCurrentPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            placeholder="Enter current password"
            (input)="clearMessages()"
        />
        <span (click)="toggleShow('current')">
            <ng-container *ngIf="!showCurrentPassword; else eyeOffCurrent">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" viewBox="0 0 64 64">
                <path d="M32 16c-13.254 0-24 16-24 16s10.746 16 24 16 24-16 24-16-10.746-16-24-16zm0 24a8 8 0 1 1 8-8 8.008 8.008 0 0 1-8 8z"/>
            </svg>
            </ng-container>
            <ng-template #eyeOffCurrent>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" viewBox="0 0 64 64">
                <path d="M32 16c-13.254 0-24 16-24 16s10.746 16 24 16 24-16 24-16-10.746-16-24-16zm0 24a8 8 0 1 1 8-8 8.008 8.008 0 0 1-8 8z"/>
                <line x1="8" y1="8" x2="56" y2="56" stroke="grey" stroke-width="4"/>
            </svg>
            </ng-template>
        </span>
        </div>
    </div>

    <div>
        <label>New Password</label>
        <div class="input-container">
        <input
            [type]="showNewPassword ? 'text' : 'password'"
            [(ngModel)]="newPassword"
            placeholder="Enter new password"
            (input)="clearMessages()"
        />
        <span (click)="toggleShow('new')">
            <ng-container *ngIf="!showNewPassword; else eyeOffNew">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" viewBox="0 0 64 64">
                <path d="M32 16c-13.254 0-24 16-24 16s10.746 16 24 16 24-16 24-16-10.746-16-24-16zm0 24a8 8 0 1 1 8-8 8.008 8.008 0 0 1-8 8z"/>
            </svg>
            </ng-container>
            <ng-template #eyeOffNew>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" viewBox="0 0 64 64">
                <path d="M32 16c-13.254 0-24 16-24 16s10.746 16 24 16 24-16 24-16-10.746-16-24-16zm0 24a8 8 0 1 1 8-8 8.008 8.008 0 0 1-8 8z"/>
                <line x1="8" y1="8" x2="56" y2="56" stroke="grey" stroke-width="4"/>
            </svg>
            </ng-template>
        </span>
        </div>
    </div>

    <div>
        <label>Confirm New Password</label>
        <div class="input-container">
        <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            [(ngModel)]="confirmNewPassword"
            placeholder="Confirm new password"
            (input)="clearMessages()"
        />
        <span (click)="toggleShow('confirm')">
            <ng-container *ngIf="!showConfirmPassword; else eyeOffConfirm">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" viewBox="0 0 64 64">
                <path d="M32 16c-13.254 0-24 16-24 16s10.746 16 24 16 24-16 24-16-10.746-16-24-16zm0 24a8 8 0 1 1 8-8 8.008 8.008 0 0 1-8 8z"/>
            </svg>
            </ng-container>
            <ng-template #eyeOffConfirm>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" viewBox="0 0 64 64">
                <path d="M32 16c-13.254 0-24 16-24 16s10.746 16 24 16 24-16 24-16-10.746-16-24-16zm0 24a8 8 0 1 1 8-8 8.008 8.008 0 0 1-8 8z"/>
                <line x1="8" y1="8" x2="56" y2="56" stroke="grey" stroke-width="4"/>
            </svg>
            </ng-template>
        </span>
        </div>
        <div *ngIf="confirmNewPassword && !passwordsMatch()" class="error-message">
        <div *ngIf="newPassword === password">New password must be different from current password</div>
        <div *ngIf="newPassword !== password">Passwords do not match</div>
        </div>
    </div>

    <div *ngIf="backendError" class="error-message">{{ backendError }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <button [disabled]="!passwordsMatch() || loading" (click)="changePassword()">
        <span *ngIf="loading" class="loader"></span>
        <span *ngIf="!loading">Change My Password</span>
    </button>
    </div>
