# Ignore environment variables
.env

# Ignore virtual environment
venv/

# Ignore __pycache__ from root, controller, middleware, and config directories
__pycache__/
controllers/__pycache__/
middleware/__pycache__/
config/__pycache__/

# Ignore only predicted image files inside green-chilli-predictions
static/Public/green-chilli-predictions/predicted_*.jpg

# Allow the green-chilli-predictions folder to stay empty in repo
!static/Public/green-chilli-predictions/.gitkeep
