<div class="guide-container">
    <div class="head">
        <h1>Plant Guide</h1>
    <p>Welcome to the Plant Guide! Here you can find information about various plants and their care.</p>
    </div>
    
<select (change)="onSelectPlant($event)">
    <option value="">Select a plant  
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                    </svg>
    </option>
    <option *ngFor="let plant of plants" [value]="plant.name">{{ plant.name }}</option>
</select>

<div class="card-wrapper" *ngIf="selectedPlant" (click)="toggleCard()">
    <div class="card" [class.flipped]="flipped">
    <!-- Front Side -->
    <div class="card-face front">
        <img class="plant-img" style="height: 250px; width: 300px;" [src]="selectedPlant.image" [alt]="selectedPlant.name" />
        <h2>{{ selectedPlant.name }}</h2><br>
        <h2>Tap <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="green"><path d="M419-80q-28 0-52.5-12T325-126L107-403l19-20q20-21 48-25t52 11l74 45v-328q0-17 11.5-28.5T340-760q17 0 29 11.5t12 28.5v472l-97-60 104 133q6 7 14 11t17 4h221q33 0 56.5-23.5T720-240v-160q0-17-11.5-28.5T680-440H461v-80h219q50 0 85 35t35 85v160q0 66-47 113T640-80H419ZM167-620q-13-22-20-47.5t-7-52.5q0-83 58.5-141.5T340-920q83 0 141.5 58.5T540-720q0 27-7 52.5T513-620l-69-40q8-14 12-28.5t4-31.5q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 17 4 31.5t12 28.5l-69 40Zm335 280Z"/></svg></h2>
    </div>

    <!-- Back Side -->
    <div class="card-face back">
        <h3>FAQs</h3>
        <div *ngFor="let faq of selectedPlant.faqs; let i = index" class="faq-item">
            <button (click)="toggleFAQ(i); $event.stopPropagation()" class="faq-button">
                <span class="question-text">{{ faq.question }}</span>
                <span class="up-down">
                    <ng-container *ngIf="openFAQIndex === i; else downIcon">
                    <!-- Chevron Up Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z" />
                    </svg>
                    </ng-container>
                
                    <ng-template #downIcon>
                    <!-- Chevron Down Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                    </svg>
                    </ng-template>
                </span>
                </button>
              
        <p *ngIf="openFAQIndex === i">{{ faq.answer }}</p>
        </div>
    </div>
    </div>
</div>
</div>
